* {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    background-color: #344055;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.input-table {
    width: 100%;
    padding: 10px;
    background-color: #70877F;
    position: fixed;
    top: 0px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

.input-container input {
    margin: 0 5px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
}

.input-container input:focus {
    outline: 0;
}

.input-container button {
    width: 100%;
    margin: 0 5px;
    max-width: 300px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #2F2963;
}

.nav-table {
    width: 100%;
    margin-top: 80px;
}

.nav-table thead tr th {
    display: inline-block;
    padding: 0 100px;
}

input:focus::placeholder {
    color: transparent;
}

table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    margin: 8px auto;
}

tr {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

tr:first-child {
    border-top: 1px solid #ccc;
}

td {
    padding: 15px 20px;
}

.success {
    background-color: #454372;
    color: white;
    transition: 250ms ease-in-out;
}

.success:hover {
    background-color: #2F2963;
}

.success:focus {
    background-color: #211c4d;    
}

.price, .print, .delete {
    border: 0;
    width: 100%;
    max-width: 60px;
    padding: 10px;
    cursor: pointer;
    margin: 0 4px;
    position: relative;
    left: 30px;
    text-align: center;
}

.price {
    background-color: #3D97E1;
    color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.price:hover {
    background-color: #1C6DB0;
}

.price:focus {
    background-color: #125C99;
}

.delete {
    background-color: #e92039;
    color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.delete:hover {
    background-color: #bf1a2f;
}

.print {
    background-color: #8bbf37;
    color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.print:hover {
    background-color: #749f2e;
}

.print:focus {
    background-color: #527517;
}

@media screen and (max-width: 768px) {

    header ul li a {
        font-size: 15px;
    }

    .input-container input {
        font-size: 12px;
    }

    .input-container button {
        font-size: 12px;
    }

    .container {
        max-width: 400px;
    }

    .container:not(:nth-of-type(2)) {
        max-width: 350px;
    }

    .container table tr {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .delete, .price, .print {
        font-size: 14px;
        margin: 0 4px;
        position: inherit;
        text-align: center;
        padding: 10px 2%;
    }
    
}
