* {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    overflow-x: hidden;
}

html, body {
    height: auto;
    background-color: #8D7B8B;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    z-index: 1;
    background-color: #4f3362;
    width: 100%;
    padding: 10px;
    position: fixed;
}

header ul {
    max-width: 960px;
    margin: 0 auto;
}

header ul li {
    float: left;
    padding: 0 10px;
}

header ul li.right {
    float: right;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

header ul li a:hover:after {
    transform: scaleX(1);
}

.input-table {
    width: 100%;
    padding: 10px;
    background-color: #4f3362;
    position: fixed;
    top: 40px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

.input-container input {
    margin: 0 5px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
}

.input-container input:focus {
    outline: 0;
}

.input-container button {
    width: 100%;
    margin: 0 5px;
    max-width: 300px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.nav-table {
    width: 100%;
    margin-top: 105px;
}

.nav-table thead tr th {
    display: inline-block;
    padding: 0 100px;
}

input:focus::placeholder {
    color: transparent;
}

table {
    background-color: #eee;
    border-collapse: collapse;
    width: 100%;
    margin: 8px auto;
}

tr {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

tr:first-child {
    border-top: 1px solid #ccc;
}

td {
    padding: 20px;
}

.success {
    background-color: #ad92f1;
    color: white;
    transition: 250ms ease-in-out;
}

.success:hover {
    background-color: #8f78c6;
}

.price, .print, .delete {
    border: 0;
    width: 60px;
    padding: 10px;
    cursor: pointer;
}

.price {
    background-color: #3D97E1;
    color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.price:hover {
    background-color: #1C6DB0;
}

.delete {
    background-color: #e92039;
    color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.delete:hover {
    background-color: #bf1a2f;
}

.print {
    background-color: #8bbf37;
    color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.print:hover {
    background-color: #749f2e;
}

/*Out of index*/

.ticket-nav {
    float: right;
}

.container .tablef {
    width: 100%;
    padding-top: 80px;
    display: inline-block;
    text-align: center;
}

.container .tablef input {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 2px;
}

.container .tablef input:focus {
    outline: 0;
}

.container .tablef .custom-select {
    position: relative;
}

.container .tablef .custom-select select {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

.container .tablef .custom-select select:focus {
    outline: 0;
}

.container .tablef .custom-select select::-ms-expand {
    display: none;
}

.container .payment {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.container .payment button {
    color: white;
    width: 100%;
    max-width: 600px;
    padding: 8px;
    background-color: #ad92f1;
    border: 0;
    cursor: pointer;
    margin: 2px;
    border: 1px solid #ccc;
    transition: 250ms ease-in-out;
}

.container .payment button:hover {
    background-color: #8f78c6;
}

.container-checkout {
    margin-top: -30px;
}

@media screen and (max-width: 768px) {

    header ul li a {
        font-size: 13px;
    }

    .input-container input {
        font-size: 10px;
    }

    .input-container button {
        font-size: 10px;
    }

    .container {
        max-width: 400px;
    }

    .container:not(:nth-of-type(2)) {
        max-width: 350px;
    }

    .container .tablef input {
        font-size: 10px;
    }

    .container .tablef select {
        font-size: 10px;
    }

    .container .payment button {
        max-width: 350px;
        font-size: 10px;
    }

    .container table tr {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .delete, .price, .print {
        font-size: 12px;
    }
    
}